<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> 

</head>
<body>
    <header>
        <h1 class="titolo">todolist</h1>
    </header>
    <hr>
    <div id="root">
        <div class="container">
            <div class="insert">
                <input type="text" placeholder="Che cosa devi fare?" v-model="task" @keyup.enter="insertTask()">
                <button @click="insertTask()">Aggiungi</button>
            </div>
            <div class="lista">
                <ul v-if="todos.length > 0">
                    <li v-for="(todo, i) in todos"><span :class="{done : todos[i].done}" @click="checkout(i)">{{todo.task}}</span><i class="fas fa-times" @click="removeTask(i)"></i></li>
                </ul>
                <h2 v-else>Non hai niente da fare</h2>
            </div>
        </div>
    </div>


    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/35fd86ea03.js" crossorigin="anonymous"></script>
</body>
</html>